@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* CSS Document */

/* body */

body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 空欄 */

.space5 {
  padding: 5px
}

.space10 {
  padding: 10px
}

.space20 {
  padding: 20px
}

.space30 {
  padding: 30px
}

.space40 {
  padding: 40px
}

.space50 {
  padding: 50px
}

.space60 {
  padding: 60px
}

.space70 {
  padding: 70px
}

.space80 {
  padding: 80px
}

.space90 {
  padding: 90px
}

.space100 {
  padding: 100px
}

.space130 {
  padding: 130px
}

/* ナビゲーション */

.navbar {
  opacity: 1.0;
  padding: 14px;
}

.navbar-nav a {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
}

.navbar-nav a:hover {
  opacity: 0.8;
}

a.navbar-brand {
  font-size: 30px;
  font-weight: 300;
}

/* タイトル */

.main {
  text-align: center;
}

.main h2 {
  color: #222222;
  font-size: 36px;
  font-weight: 600;
  margin-top: 70px;
}

.main h1 {
  color: #222222;
  font-size: 67px;
  font-weight: 600;
}

.xs-title h2 {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  margin-top: 70px;
}

.xs-title h1 {
  color: #222222;
  font-size: 34px;
  font-weight: 600;
}

.main2 {
  text-align: center;
}

.main2 h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.main2 h1 {
  color: #222222;
  font-size: 55px;
  font-weight: 600;
}

/* 矢印 */

.main .sign {
  margin: 55px;
}

/* 作品説明 */

.mac h4 {
  color: #222222;
  font-size: 19px;
  font-weight: 300;
  line-height: 35px;
  margin-top: 80px;
  margin-bottom: 30px;
}

/* スキル */

.skill-title {
  color: #222222;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
}

.boxalign {
  margin: 0 auto;
  text-align: center;
}

.boxalign p {
  color: #222222;
  font-size: 13px;
  font-weight: 200;
}

.skillicon {
  height: auto;
  width: 7em;
}

/*ビデオ*/

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*見出し*/

.midasi h2 {
  color: #222222;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.midasi .xs {
  color: #222222;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}



/* コンセプト */

.consept-img {
  left: 70px;
}

.midasi1 {
  left: 35px;
}

.midasi1 hr {
  border-top: 1px solid #085CA2;
}

.midasi1 h3 {
  color: #085CA2;
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 0;
  width: 500px;
}

.midasi1 h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  width: 500px;
}

/* 見出し2 */

.description-img {
  left: 40px;
}

.midasi2 {
  left: 50px;
}

.midasi2 hr {
  border-top: 1px solid #085CA2;
}

.midasi2 h3 {
  color: #085CA2;
  font-size: 30px;
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 0;
  width: 500px;
}

.midasi2 h4 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  width: 500px;
}

.midasi2-1 hr {
  border-top: 1px solid #085CA2;
}

.midasi2-1 h3 {
  color: #085CA2;
  font-size: 23px;
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 0;
}

.midasi2-1 h4 {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 33px;
}



/* 実際のサイト */

a.my-btn2 {
  border: solid 0.5px;
  border-color: #085CA2;
  border-radius: 1px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 18px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 18px;
  transition: background-color 0.5s;
}

a.my-btn2:hover {
  background-color: #085CA2;
  border: solid 0.5px;
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 18px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 18px;
  transition: background-color 0.5s;
}

.center{
left: 120px;
}

.padding{
  padding-left: 70px;
}


/*コピーライト*/

.Copyright {
  font-size: 15px;
  text-align: center;
}
